@font-face {
  font-family: 'MyFont';
  src: url('./Paranoid.otf') format('woff');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'MyFont';
  background: url('./taiwan-101.jpg');
}